/*
Author : http://www.nyekrip.com
*/
/* Style Struktur*/
body {
    background: #F9F9F9;
    color: #222;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
}
#wrapper {
    margin: 10px auto;
    max-width: 980px;
    width: 90%;
    background: #fff;
    padding: 10px 0;
}
/* Style Utama*/
header {
    padding: 3px;
}
::-moz-selection {
    background-color: #91D8f7;
    color: #fff;
}
::selection {
    background-color: #91D8f7;
    color: #fff;
}
a {
    outline: 0;
    color: #222;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p a:hover {
    color: #53bd84;
}
a:active {
    outline: 0;
    position: relative;
    top: 2px;
}
.clearfix {
    clear: both;
}
h1 {
    font-size: 20px;
    font-family: 'Open Sans', serif;
    line-height: 10px;
    padding: 10px;
}
h1 a:hover {
    text-decoration: none;
    color: #53bd84;
}
h2 {
    font-family: Helvetica;
    font-size: 18px;
    padding: 10px;
}
h3 {
    font-family: 'Droid Serif', serif;
    font-size: 30px;
}
h4 {
    font-family: 'Droid Serif', serif;
    padding: 3px;
    margin: 5px 0 0;
}
h4 a {
    text-decoration: underline;
}
nav {
    background: #222;
    padding: 0;
    margin: 10px 0;
}
nav a {
    color: #F9F9F9;
    display: block;
    float: left;
    padding: 10px;
}
nav a:visited {
    color: #f9f9f9;
}
nav a:hover {
    text-decoration: none;
    background: #53bd84;
}
nav a:active {
    position: relative;
    top: 0;
}
.left-col {
    width: 60%;
    float: left;
}
.sidebar {
    width: 30%;
    float: right;
    margin-bottom: 10px;
}
#about, #featured, #latest {
    padding: 20px;
}
p {
    padding: 0 5px;
}
ul {
    list-style: none;
}
ul li {
    margin: 0 5px;
}
footer {
    padding: 5px;
}
pre {
    overflow: scroll;
    font-size: 10px;
}


/*<![CDATA[*/
body {
    margin: 0;
    padding: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
.#header h1.title,
#header p.title {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: bold
}
#header h1.title-img span,
#header p.title-img span,
#header p.title-img a span,
#header h1.title-img a span {
    position: fixed;
    top: -3000px;
    left: -3000px;
    font-size: 0;
}
#header h1.title-img img,
#header p.title-img img {
    width: auto;
    max-width: 100%;
    height: 50px;
    vertical-align: -8%
}
.header h1.title a,
#header p.title a{
    color: #333;
    text-decoration: none;
}
.header .description {
    font-size: 18px;
    margin-top: 10px;
    padding: 0;
}
.main {
    width: 60%;
    float: left;
}
.sidebar {
    width: 30%;
    float: right;
    margin-left: 20px;
}
body {
    font-size: 16px;
    color: #555;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}
h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
h3 a {
    color: #333;
    text-decoration: none;
}
footer {
    margin: 20px 0;
    font-size: 16px;
    color: #555;
}
.footer a {
    color: #555;
    text-decoration: none;
}
.clear {
    clear: both;
    display: block;
}
.footer {
    width: 100%;
    float: none;
    margin: 0;
    padding: 20px 0;
}
@media screen and (max-width:768px) {
    .main, .sidebar {
      width: 100%;
      margin: 0 0 20px;
      float: none;
    }
}   
/*]]>*/ 

.main {
    width: 60%;
    float: left;
}
.sidebar {
    width: 30%;
    float: right;
}



.outer-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


#footer-navmenu {
    background: #061b1f;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #999;
    padding: 15px 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    font: 500 14px Roboto, Arial, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
}
@media only screen and (max-width: 480px)
.footer-widget .widget, #footer-navmenu-container {
    padding-left: 12px;
    padding-right: 12px;
}
#footer-navmenu ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#footer-navmenu ul li {
    display: inline-block;
    margin: 6px 0;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
}

@media only screen and (max-width: 480px)
#footer-navmenu ul li a {
    margin: 0px 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
  
}

#footer-navmenu {
    background: #061b1f;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #999;
    padding: 15px 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    font: 500 14px Roboto, Arial, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
}
@media only screen and (max-width: 480px)
.footer-widget .widget, #footer-navmenu-container {
    padding-left: 12px;
    padding-right: 12px;
}
#footer-navmenu ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#footer-navmenu ul li {
    display: inline-block;
    margin: 6px 0;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
}

@media only screen and (max-width: 480px)
#footer-navmenu ul li a {
    margin: 0px 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
  
}

#footer-navmenu ul li a {
    color: #131212;
    margin: 0 15px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#footer-navmenu ul li:after {
    content: "/";
}


#rlo ul.request-post {
    list-style: none;
    padding: 0;
    margin: 0 auto
}

#rlo li.recent-posts-list {
    overflow: hidden;
    padding: 5px;
    background: #FFF;
    border: 1px solid #ddd
    text-align: justify;
}

nav {
    background: #f2f2f2;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 10px 0;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

#rlo img.gambar-postingan {
    width: 150px;
    height: auto;
    border: 1px solid #ddd;
    float: left;
    margin-right: 5px
}

#rlo h3.title-posts {
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-align: justify;

}

#rlo li.recent-posts-list span {
    padding: 5px 8px;
    margin-bottom: 10px;
    display: block
}

#rlo li.recent-posts-list .post-details {
    float: center;
}
#postkomik{background:#fff;width:99%;margin:5px auto;border:1px solid #2D96DF;
-webkit-box-shadow:4px 4px 8px 2px rgba(0,0,0, 0.2);
-moz-box-shadow:4px 4px 8px 2px rgba(0,0,0, 0.2);
box-shadow:4px 4px 8px 2px rgba(0,0,0, 0.2);}
judule{color:#FFF;font-weight:bold;margin:0 -5px;
padding:1px 0 2px 11px;background: #3498DB;
border:1px solid #2D96DF;
border-radius:4px;-moz-border-radius:4px;
-webkit-border-radius:4px;box-shadow:3px 3px 1px #bbb;
-moz-box-shadow:3px 3px 1px #bbb;-webkit-box-shadow:3px 3px 1px #bbb;display:block;}
ol{font-weight:normal;background:#fff;margin-left: 35px;}
ol li{border-bottom: #ddd 1px dotted;margin-right:5px;padding:3px}


p1{
text-align:center;
}

