<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "name": "{{ page.title }}",
            "headline": "{{ page.subtitle }}",
            "description": "{{ page.description }}",
            "image": "{{ page.image }}",
            "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
            "articleBody": "{{ content | strip_html | xml_escape | textilize }}",
            "wordcount": "{{ content | number_of_words }}",
            "inLanguage": "{{ site.language }}",
            "dateCreated": "{{ page.date | date: '%Y-%m-%d/' }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d/' }}",
            "dateModified": "{{ page.date | date: '%Y-%m-%d/' }}",
            "author": {
                "@type": "Person",
                "name": "{{ author.display_name }}",
                {% if author.photo %}
                "image": "{{ author.photo }}",
                {% else %}
                "image": {{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }},
                {% endif %}
                "jobTitle": "{{ author.position }}",
                "url": "{{ author.url | prepend: site.baseurl | prepend: site.url }}",
                "sameAs": [
                    {{ author_urls | split: "," | join: "," }}
                ]
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}",
                "url": "{{ site.url }}{{site.baseurl}}/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{site.baseurl}}/assets/img/blog-image.png",
                    "width": "600",
                    "height": "315"
                }
            },
            "mainEntityOfPage": "True",
            "genre": "{{ page.category }}",
            "articleSection": "{{ page.category }}",
            "keywords": [{{ page.tags | join: '","' | append: '"' | prepend: '"' }}]
        }
</script>