            <nav id="main-menu" class="mm">
                <span itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
                    <ul id="menu-menu" class="menu">
                        <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-13"><a href="{{ site.url }}{{ site.baseurl }}/" aria-current="page" itemprop="url"><span itemprop="name">Home</span></a></li>
                        <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a href="{{ site.url }}{{ site.baseurl }}/series/" itemprop="url"><span itemprop="name">Daftar Manga</span></a></li>
                        <li id="menu-item-52307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52307"><a href="{{ site.url }}{{ site.baseurl }}/contact/" itemprop="url"><span itemprop="name">Contact Us</span></a></li>
                        <li id="menu-item-52306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52306"><a href="{{ site.url }}{{ site.baseurl }}/chatting/" itemprop="url"><span itemprop="name">Chat Room</span></a></li>
                        <li id="menu-item-52305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52305"><a href="https://trakteer.id/basmanga" itemprop="url"><span itemprop="name">Donasi</span></a></li>
                    </ul>
                </span>
                <div class="clear"></div>
            </nav>
  


         
