<div class="socialts">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="fb">
        <i class="fab fa-facebook-f"></i>
        <span>Facebook</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}" target="_blank" class="twt">
        <i class="fab fa-twitter"></i>
        <span>Twitter</span>
    </a>
    <a href="whatsapp://send?text={{ page.title }} ~ {{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="wa">
        <i class="fab fa-whatsapp"></i>
        <span>WhatsApp</span>
    </a>
    <a href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="pntrs">
        <i class="fab fa-pinterest-p"></i>
        <span>Pinterest</span>
    </a>
</div>



             