<ul>
    <li>{% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="Github">
            <svg>
                <use xlink:href="#icon-github"></use>
            </svg>Github
        </a>
        {% endif %}
    </li>
    <li>{% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
            <svg>
                <use xlink:href="#icon-facebook"></use>
            </svg>Facebook
        </a>
        {% endif %}
    </li>
    <li>{% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
            <svg>
                <use xlink:href="#icon-twitter"></use>
            </svg>Twitter
        </a>
        {% endif %}
    </li>
    <li>{% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
            <svg>
                <use xlink:href="#icon-instagram"></use>
            </svg>Instagram
        </a>
        {% endif %}
    </li>
    <li>{% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
            <svg>
                <use xlink:href="#icon-linkedin"></use>
            </svg>LinkedIn
        </a>
        {% endif %}
    </li>

</ul>