<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head-post.html %}

<body>
    <div class="th">
        <div class="centernav bound">
        <div class="shme"><i class="fa fa-bars" aria-hidden="true"></i></div>
            {% include header.html %}
            {% include navbar.html %}

        </div>
        <div class="clear"></div>
    </div>
    {% include svg-icons.html %}

    <div id="content" class="readercontent">
        <div class="wrapper">
          <div class="gcse-search"></div>   
        </div><br />
        <div class="wrapper">

            <div class="chapterbody">

                <div class="postarea">
                    <article id="post" class="post-hentry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">

                        <div class="headpost">

                            <h1 class="entry-title" itemprop="name">{{ page.subtitle }} {{ page.title }} Bahasa Indonesia</h1>

                            <div class="allc">Semua chapter ada di <a href="{{ site.url }}{{ site.baseurl }}/komik/{{ page.category }}">{{ page.subtitle }}</a></div>
                        </div>
                        {% include share.html %}
                        {% include breadcrume-post.html %}
                        <div class="entry-content entry-content-single maincontent" itemprop="description">
                            <div class="chdesc">
                                <p>
                                    Baca manga <b>{{ page.subtitle }} {{ page.title }}</b> bahasa Indonesia terbaru di <b>Postkomik</b>. Manga <b>{{ page.subtitle }}</b> bahasa Indonesia selalu update di <b>Postkomik</b>. Jangan lupa membaca update manga lainnya ya. Daftar koleksi manga <b>Postkomik</b> ada di menu Daftar Manga. </p>
                            </div>
                            <div class="chnav ctop nomirror">
                                <span class="selector slc l">
                                    <div class="nvx">
                                        <select name="chapter" id="chapter" onchange="this.options[this.selectedIndex].value&amp;&amp;window.open(this.options[this.selectedIndex].value,'_self')">
                                            <option value="" disabled="disabled">Pilih Chapter</option>

                                            {% for post in site.posts %}
                                            {% if post.category contains page.category %}

                                            <option value="{{ post.url }}">{{ post.title }}</option>
                                            {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>
                                </span>
                                <span class="navrig">
                                    <span class="selector readingmode l">

                                    </span>
                                </span>
                                <span class="navlef">
                                    {% include chapnex.html %}

                                    <span class="dlx r"><a href="{{ site.url }}{{ site.baseurl }}/komik/{{ page.category }}" target="_blank"><i class="fas fa-cloud-download-alt"></i> Download</a></span> </span>
                            </div>
                            <div id="readerarea">

                                {{content}}
                                {% include komikblog.html id=page.blogId %}
                            </div>

                            <div class="chnav cbot">
                                <span class="selector slc l">
                                    <div class="nvx">
                                        <select name="chapter" id="chapter" onchange="this.options[this.selectedIndex].value&amp;&amp;window.open(this.options[this.selectedIndex].value,'_self')">
                                            <option value="" disabled="disabled">Pilih Chapter</option>

                                            {% for post in site.posts %}
                                            {% if post.category contains page.category %}

                                            <option value="{{ post.url }}">{{ post.title }}</option>
                                            {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>
                                </span>
                                <span class="amob">
                                    {% include chapnex.html %}

                                    <span class="selector pagedsel r">
                                        <select name="select-paged" class="ts-select-paged" id="select-paged">
                                            <option value="0">1/7</option>
                                        </select>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="chaptertags">
                            <p>Tags: baca manga {{ page.subtitle }} {{ page.title }} bahasa Indonesia,
                                komik {{ page.subtitle }} {{ page.title }} bahasa Indonesia, baca {{ page.subtitle }} {{ page.title }} online, {{ page.subtitle }} {{ page.title }} bab,
                                {{ page.subtitle }} {{ page.title }} chapter, {{ page.subtitle }} {{ page.title }} high quality, {{ page.subtitle }} {{ page.title }} manga scan,
                                <time class="entry-date" datetime="2021-11-24WIB18:25:14+0700" itemprop="datePublished" pubdate="">November 24, 2021</time>, 

                                

                                {% assign author = site.authors | where: "name", page.author | first %}
                                {% if author %}
                        <span itemprop="author"><a href="{{ author.url }}">{{ author.display_name }}</span></a>
                                {% endif %}                                 
                            </p>
                        </div>

                    </article>
                    <div id="comments" class="bixbox comments-area">
                        <div class="releases">
                            <h2><span>Comment</span></h2>
                        </div>
                        <div class="cmt commentx">

                            <div id="disqus_thread">
                                {% include disqus.html %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    <script type='text/javascript'>
        $(".separator a:has(img)").each(function() {
            $(this).replaceWith($(this).children());
        });
    </script>
 
</body>

</html>
